*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/Movie\ Harry\ Potter\ HD\ Wallpaper.jpg);
    background-size: cover;
}
.contact .content{
 max-width: 800px;  
 text-align: center; 
}
.contact .content h2{
    font-weight: 300;
    color: #fff;
}
.container{
    
}